.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2196f3;
  color: #fff;
  padding: 10px;

  & nav ul {
    display: flex;
    list-style: none;
  }

  & nav li {
    margin-right: 10px;
  }

  & nav li a {
    text-decoration: none;
    padding: 5px;
  }

  & nav li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #000;
    border-radius: 5px;
  }
}

.selectItem {
  background-color: rgba(255, 255, 255, 0.1);
  color: #000;
  border-radius: 5px;
}

.navbarBrand {
  font-size: 20px;
  font-weight: bold;
}